
@font-face {
    font-family: "malgun";
    src: url("/src/Fonts/malgun.ttf");
}
html {
    background-image: url("/src/assets/wallpaper/basic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
    font-family: "Pixelated MS Sans Serif",Arial;
    -webkit-font-smoothing: antialiased;
}